# introduction to scikit learn(sklearn)
this notebook demonstrate the some of the most useful function of beautiful scikit learn library
what are we going to cover:

0. An end to end scikit library workflow
1. Getting the data ready
2. choose the right estimator/algorithoms for our purpose
3. Fit the model/algorithm and used it to make predictions on our data
4. Evaluating a model
5. improve a model
6. save and load a trained model
7. putting it altogether

# 0. An end to end scikit workflow

In [2]:
# getting the data ready
import pandas as pd
heart_disease=pd.read_csv('Data/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
#create x
x=heart_disease.drop('target',axis=1)

#create y
y=heart_disease['target']

In [13]:
# 2.choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [15]:
#3.Fit the model to the trainging data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [17]:
clf.fit(x_train,y_train);

In [18]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,58,1,2,132,224,0,0,173,0,3.2,2,2,3
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1

In [19]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2

In [20]:
y_preds=clf.predict(x_test)

In [21]:
y_preds

array([0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1], dtype=int64)

In [22]:
y_test

176    0
75     1
151    1
270    0
233    0
      ..
100    1
58     1
264    0
112    1
147    1
Name: target, Length: 61, dtype: int64

In [23]:
# evaluating the model
clf.score(x_train,y_train)

1.0

In [25]:
clf.score(x_test,y_test)

0.8360655737704918

In [29]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.84      0.78      0.81        27
           1       0.83      0.88      0.86        34

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.84        61

In [31]:
confusion_matrix(y_test,y_preds)

array([[21,  6],
       [ 4, 30]], dtype=int64)

In [32]:
accuracy_score(y_test,y_preds)

0.8360655737704918

In [34]:
#improving the model
#try diferent ammount of n_estimators
import numpy as np
np.random.seed(42)
for i in range(10,100,10):
    print(f'trying model with {i} estimators...')
    clf=RandomForestClassifier(n_estimators=i).fit(x_train,y_train )
    print(f'Model accuracy on the test set:{clf.score(x_test,y_test)*100:.2f}%')

trying model with 10 estimators...
Model accuracy on the test set:81.97%
trying model with 20 estimators...
Model accuracy on the test set:83.61%
trying model with 30 estimators...
Model accuracy on the test set:85.25%
trying model with 40 estimators...
Model accuracy on the test set:80.33%
trying model with 50 estimators...
Model accuracy on the test set:85.25%
trying model with 60 estimators...
Model accuracy on the test set:85.25%
trying model with 70 estimators...
Model accuracy on the test set:80.33%
trying model with 80 estimators...
Model accuracy on the test set:85.25%
trying model with 90 estimators...
Model accuracy on the test set:85.25%

In [ ]:
#sa